.explore-card {
    background-image: url('../assests/Appreciation-and-Awards/appreciation-and-awards.webp');
    padding: 1rem;
    background-size: cover;
    display: flex;
    flex-direction: column;
    margin-top: 11px;
}

.appreciation_card {
    min-height: 43vh;
    border-radius: 10px;
    box-shadow: 0 0 0 2px rgba(62, 62, 63, 0.1);
}

.explore-heading {
    display: flex;
    justify-content: end;
}

.round-image_container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.round-image {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    overflow: hidden;
    border: 4px solid white;
}

.round-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}



.round-text {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    overflow: hidden;
    background-color: #3A36CE;
    display: flex;
    align-items: center;
    justify-content: center;
}

.round-text p {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: #ffff;
}

.explore-content {
    max-width: 500px;
    text-align: center;
    display: flex;
    align-self: center;
    justify-content: center;
}

.explore-btn_content {
    display: flex;
    justify-content: center;
}



// surveyhub demo


.survey-hub_card {
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.survey-hub_card img {
    width: 100%;
    height: auto;
    display: block;
}

.survey-hub_card-content {
    padding: 16px;
}

.survey-hub_card-title {
    font-size: 1.2em;
    margin-bottom: 8px;
}

.survey-hub_card-description {
    font-size: 1em;
    color: #555;
}


.awards-container {

    display: flex;
    gap: 1rem;
}

.awards {
    flex: 1;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    // width: 300px;
    // width: 30vw;
    // height: 40vh;
}

.awards-bg-img-container {
    background-image: url('../assests/Appreciation-and-Awards/kudos.webp');
    height: 40vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
}

.awards-top-icons {
    display: flex;
    justify-content: flex-end;
}

.awards-mock-img-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background-image: url('../assests/Appreciation-and-Awards/awards-mock.webp');
    height: 40vh;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.awards-bg-img-content {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.awards-bg-img-content p {
    margin: 0;
}

.awards-sub-container {
    display: flex;
    flex-direction: column;
    height: 25vh;
    padding: 10px;
}

.awards-content-height {
    height: 11vh;
    background-color: grey;
    opacity: 0.75;

    .awards-mock-img-content {
        gap: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 7px;
        font-weight: 600;

        .amic-first{

        }
        .amic-second{
           color: #F0F3A9
        }
    }
}

.kudos-btn {
    border: none;
    font-size: 12px;
    padding: 5px 12px;
    border-radius: 16px;
    background-color: #3A36CE;
    color: #fff;
}

.kudos-btn-sub {
    font-size: 12px;
    margin-left: 7px;
}

.awards-sub-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.appreciared-name {
    font-size: 12px;
}

.awards-sub-greeting {
    font-size: 12px;
}

.hashtag {
    color: #3A36CE;
    font-weight: bold;
}

//   .awards img {
//     width: 100%;
//     height: auto;
//     border-bottom: 1px solid #ccc;
//   }

//   .awards-content {
//     padding: 20px;
//   }

//   .awards-content h2 {
//     margin-top: 0;
//   }

//   .awards-content p {
//     margin-bottom: 0;
//   }


.btn-awards{
    color: #ffff;
    border: none;
    padding: 7px 15px;
    margin: 1rem;
    border-radius: 14px;
    background-color: #FF6F00;
}