.celebrate-occasion-container {
  display: flex;
  gap: 1rem;
}

.occasions_card {
  min-height: 57vh;
  border-radius: 10px;
  box-shadow: 0 0 0 2px rgba(62, 62, 63, 0.1);
  margin-bottom: 10px;
  overflow-y: hidden;
}
