.expand-cricle {
    border-radius: 10px;
    box-shadow: 0 0 0 2px rgba(62, 62, 63, 0.1);
    overflow-y: auto;
    scrollbar-width: thin;
    /* For Firefox */
    scrollbar-color: transparent transparent;
    /* For Firefox */
    transition: scrollbar-color 0.5s ease;

    .heading {}


    .scroll-content {
        padding-top: 10px;

        .details-card {
            display: flex;
            justify-content: space-between;
            padding: 1px 0px 1px 0px;

            .content {
                display: flex;
                gap: 10px;
                background-color: white;

                .person-name {
                    font-size: 16px;
                    font-weight: bold;
                }

                .event-name {
                    font-size: 14px;
                    font-weight: medium;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                img {
                    border-radius: 50%;
                }

                .person-details {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    background-color: white;
                    gap: 5px;
                }
            }

            .button {
                display: flex;
                align-items: center;
            }
        }

    }
}