.gift-box-card {
    min-height: 45vh !important;
    background-image: url('../assests/Gift.svg');
}

.gift-box-container {

    display: flex;

.gift-top-arrow{
    display: flex;
    width: 100%;
    justify-content: end;
}

    .gb-one {
        flex: 1;

        .gb-image {
            min-height: 30vh;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .btn-claim-container {
            display: flex;
            justify-content: center;


            .border{
                border: 1px solid #AB0D00;
                padding: 2px;
                border-radius: 4px;
            }

            .btn-claim {
                border: none;
                border-radius: 4px;
                padding: 0.9rem 2.3rem;
                font-weight: 900;
                color: #ffff;
                background-color: #AB0D00;
            }
        }


    }

    .gb-two {
        flex: 1;

        .kudos-received {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 20px;
            width: 45vw;
        }

        .hashtags {
            color: #3A36CE;
        }

        .kr-names {
            font-size: 26px;
            font-weight: 600;
        }

        .kr-content {
            line-height: 2;
            padding: 0px 20px;
            text-align: center;
            font-size: 14px;
        }


        .font-weight-bold {
            font-weight: 600;
        }

    }
}