.gift-box-card {
    background-image: url('../assests/Gift.svg');
}

.gift-box-container {

    display: flex;

    .gb-one {
        flex: 1;

        .gb-image {
            min-height: 30vh;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .btn-claim {
            display: flex;
            justify-content: center;
        }

    }

    .gb-two {
        flex: 1;

        .kudos-received {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 20px;
            width: 45vw;
        }

        .hashtags {
            color: #3A36CE;
        }

        .kr-names {
            font-size: 26px;
            font-weight: 600;
        }

        .kr-content {
            line-height: 2;
            padding: 0px 20px;
        }


        .font-weight-bold {
            font-weight: 600;
        }

    }
}