.homepage {
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;

}

.home {
    width: 85%;
}

.sidebar {
    // width: 15%;
    position: relative;
    background-image: linear-gradient(#3A36CE, #FF0043);
    height: 100vh;
    color: #ffff;
    opacity: 1;
    display: flex;
    flex: 1;
    flex-direction: column;
    align-self: stretch;
}

.topbar {
    background-color: violet;
    padding: 1rem;
}

.primary-btn {
    background: #3A36CE 0% 0% no-repeat padding-box;
    border-radius: 5px;
    color: white;

}

.width-90 {
    width: 90%;
}

.width-49 {
    width: 49%;
    background-color: white;
}

.content {
    background-color: #F8F9FA;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}