.project-oversight_container {
    display: flex;
    gap: 1rem;
}


.project-oversight_inner-card {
    background-image: url('../assests/Project\ 2.svg');
    margin-top: 4px;
}

.project-oversight_content {
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;
}

.project-oversight_footer{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.red-progress{
    font-size: 14px;
    color: #0B9262;
    font-weight: bold;
}

.in-progress{
    @extend .red-progress;
    color: #F89706;
}