.recent-updates {
    padding: 20px;


    .recent-updates-content {
        display: flex;
        min-height: 50vh;

        .first {
            flex: 1.5;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            background-image: url('../assests/recent-updates/recent-updates-clap.png');

            .article-content {
                display: flex;
                flex-direction: column;
                gap: 15px;
                opacity: 0.75;
                background-color: white;

                .article-first-row {
                    display: flex;
                    justify-content: space-between;
                }

                .article-head {
                    font-weight: 600;
                    font-size: 23px;
                }

                .article-body {
                    line-height: 2;

                    .read-more {
                        text-decoration: underline;
                        font-weight: bold;
                    }
                }
            }
        }

        .second {
            display: flex;
            flex: 1;
            flex-direction: column;

            .second-one {
                min-height: 25vh;
                background-color: sandybrown;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                padding: 0px 15px 15px;
                gap: 25px;

                .top-arrow {
                    width: 100%;
                    display: flex;
                    justify-content: flex-end;
                }

                .mid-text-content {
                    display: flex;
                    flex-wrap: wrap;
                    line-height: 2
                }
            }

            .second-two {
                display: flex;
                min-height: 25vh;

                .input {
                    flex: 1;
                    display: flex;
                    flex-direction: column;
                    gap: 15px;
                    padding: 0px 15px 15px;
                    align-items: center;
                    background-color: lightpink;

                    .icon-row {
                        display: flex;
                        width: 100%;
                        justify-content: space-between;
                    }

                    .mid-text-content {
                        display: flex;
                        flex-wrap: wrap;
                        line-height: 1.5;
                    }
                }

                .story {
                    flex: 1;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 20px;
                    padding: 0px 15px 15px;
                    background-color: lightgoldenrodyellow;

                    .icon-row {
                        width: 100%;
                        display: flex;
                        justify-content: flex-end;
                    }
                }
            }
        }
    }
}

.second-row {
    display: flex;
    min-height: 40vh;
    gap: 20px;

    .quick-poll {
        flex: 1;
        display: flex;
        flex-direction: column;
        padding: 20px;
        background-color: #2D84F6;
        color: white;
        gap: 20px;

        .qp-heading {
            display: flex;
            justify-content: space-between;
        }

        .qp-question-label {
            font-weight: 600;
            line-height: 2;
        }

        .qp-options {
            font-size: 14px;
            font-weight: 600;
        }

        .qr-progress-bar {
            height: 1vh;
            background-color: white;
            border-radius: 15px;
            margin-top: 5px;
        }

        .qp-sec-left {
            display: flex;
            justify-content: center;
        }
    }

    .qp-navigation {
        background-color: #EAF2FD;
        height: 8vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .pc-game {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 20px;
        justify-content: flex-end;
        background-color: #EB55ED;
        padding: 20px;

        .game-child-content {
            opacity: 0.75;
        }

        .post-date {
            display: flex;
            justify-content: space-between;
        }

        .game-heading {
            font-size: 25px;
            font-weight: 600;
        }

        .game-content {
            line-height: 2;
        }

        .likes-row {
            font-size: 14px;
        }
    }
}