.sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3.4rem;
  justify-content: center;
  align-items: center;
  margin-left: 15px;
  flex: 1.5;
}

.sidebar-toggle {
  background-color: rgba($color: #fff, $alpha: 0.3);
  height: 100px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px 0px 0px 12px;
}

.side-container {
  display: flex;
  flex: 4;
  justify-content: flex-start;
  align-items: flex-start;
  ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    li {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 10px;
      font-size: 12px;
      p {
        margin-left: 10px;
      }
    }
  }
}

.side-container_sub-container {
  position: relative;
  display: flex;
  flex: 3;
  justify-content: flex-start;
  align-items: flex-start;
  border-top: 1px dotted;
  ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    li {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 12px;
      p {
        margin-left: 10px;
      }
    }
  }
}

.side-bottom_container {
  display: flex;
  flex: 0.5;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
}

.ownerTxt {
  font-size: 12px;
  margin: 3px;
  display: flex;
}
.nextLvlTxt {
  font-size: 12px;
  margin: 0px;
  margin-left: 3px;
  color: aqua;
}
.ownerSubTxt {
  font-size: 10px;
  margin: 2px;
}
