.slider {
  display: flex;
  gap: 20px;
  height: 100%;

  .survey {
    background-color: grey;
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    // background-image: url("../assests/Sliders/Survey.svg");
  }

  .slider-child-width {
    // min-width: 40%;
    min-height: 25vh;
    width: 35vw;
  }

  .text-content {
    // background-color: aqua;
    font-size: 14px;
    // min-width: 40%;
  }

  .slider-child-width {
    // min-width: 40%;
    min-height: 25vh;
  }

  .text-content {
    // background-color: aqua;
    font-size: 14px;
    // min-width: 40%;
    line-height: 2.2;
  }

  .heading {
    // font: normal normal 800 40px/55px Open Sans;
    font-size: 24px;
    font-weight: bolder;
    letter-spacing: 0px;
    color: #000000;
  }

  .survey-content {
    width: 60%;
  }

  // .slider-people-card {
  //   background-image: url('../assests/Sliders/Micheleneous\ 1.webp');
  //   padding: 1rem;
  //   display: flex;
  //   flex-direction: column;
  // }

  .kudos-received {
    display: flex;
    flex-direction: column;
    background-color: #EEFCE4;
    align-items: center;
    justify-content: center;
    width: 42vw;
    border-radius: 10px;
    box-shadow: 0 0 0 2px rgba(62, 62, 63, 0.1);
  }

  .hashtags {
    color: #3A36CE;
    font-weight: 600;
  }

  .kr-names {
    font-size: 26px;
    font-weight: 600;
  }

  .kr-content {
    line-height: 2;
    padding: 0px 20px;
    text-align: center;
  }

  .outstanding-employee {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 45vw;
    background-image: url('../assests//Sliders/Micheleneous\ 2.webp');
    background-size: cover;
    background-repeat: no-repeat;
  }

  .font-weight-bold {
    font-weight: 600;
  }

}

.text-content {
  font-size: 14px;
}

.row_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  min-height: 45vh;
}

.slide_image {
  min-height: 25vh;
  width: 35vw;
}

.indicators_button {
  position: absolute;
  bottom: -25px;
}

.caroulse_inner_style {
  position: relative;
  min-height: 50vh;
}

.bgColor {
  width: 80vw;
}

.carousel-indicators [data-bs-target] {
  box-sizing: content-box;
  flex: 0 1 auto;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  padding: 0;
  margin-right: 3px;
  margin-left: 3px;
  text-indent: -999px;
  cursor: pointer;
  background-color: gray;
  background-clip: padding-box;
  border: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  opacity: .5;
  transition: opacity .6s ease;
}

.carousel-indicators .active {
  opacity: 1;
  background-color: #3A36CE;
}

.carosule-specific-item {
  padding-top: 20px;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  width: 40vw;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 10px;
  box-shadow: 0 0 0 2px rgba(62, 62, 63, 0.1);
}

.carosule-specific-first-item {
  padding-top: 20px;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  width: 42vw;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 10px;
  box-shadow: 0 0 0 2px rgba(62, 62, 63, 0.1);
}