.slider {
    display: flex;
    gap: 20px;

    .survey {
        background-color: grey;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .slider-child-width {
        min-width: 40%;
        min-height: 25vh;
    }
    
    .text-content {
        background-color: aqua;
    }

    .heading {
        font: normal normal 800 40px/55px Open Sans;
        letter-spacing: 0px;
        color: #000000;
    }

}
