 .topBar-container {
     display: flex;
     gap: 2rem;
     align-items: center;
 }

 .search-container {
     position: relative;
     width: 40%;
     display: flex;
     align-items: center;
 }


 .search-box {
     width: 100%;
     padding: 10px;
     box-sizing: border-box;
     border: 1px solid #ccc;
     border-radius: 15px;
     padding-left: 35px;
     background-color: #F8F9FA;
     /* Adjust based on the icon width */
 }


 .search-icon {
     position: absolute;
     top: 20px;
     transform: translateY(-50%);
     left: 5px;
     color: #666;
 }

 .topBar-btn {
     padding: 0.7rem;
     border-radius: 17px;
     color: #ffff;
     border: none;
     background: #3A36CE;
     font-weight: 300;
 }


 .topBar-menu-container {
     display: flex;
     gap: 1rem;
 }

 .topBar-menu {
     display: flex;
     flex-direction: column;
     justify-content: center;
     gap: 5px;
     align-items: center;

     p {
         padding: 0;
         margin: 0;
         font-size: 12px;
     }
 }

 .topBar-menu_icon {
     img {
         width: 35px;
     }
 }